
/*=======================HOMEPAGE
TEMPLATE Translate by http://blog4temp.com TBT 
Name: 
AUTHOR: 
DESIGN: 
================================*/

/* latin */
@font-face {
  font-family: &#39;Open Sans&#39;;
  font-style: normal;
  font-weight: 400;
  src: local(&#39;Open Sans Regular&#39;), local(&#39;OpenSans-Regular&#39;), url

(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format

(&#39;woff2&#39;);
}
/* latin */
@font-face {
  font-family: &#39;Open Sans&#39;;
  font-style: normal;
  font-weight: 600;
  src: local(&#39;Open Sans SemiBold&#39;), local(&#39;OpenSans-SemiBold&#39;), url

(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format

(&#39;woff2&#39;);
}
/* latin */
@font-face {
  font-family: &#39;Open Sans&#39;;
  font-style: normal;
  font-weight: 700;
  src: local(&#39;Open Sans Bold&#39;), local(&#39;OpenSans-Bold&#39;), url

(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format

(&#39;woff2&#39;);
}
/* latin */
@font-face {
  font-family: &#39;Open Sans&#39;;
  font-style: normal;
  font-weight: 800;
  src: local(&#39;Open Sans ExtraBold&#39;), local(&#39;OpenSans-ExtraBold&#39;), url

(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format

(&#39;woff2&#39;);
}

/* Material Icon */
@font-face {
  font-family: &#39;Material Icons&#39;;
  font-style: normal;
  font-weight: 400;
  src: local(&#39;Material Icons&#39;), local(&#39;MaterialIcons-Regular&#39;), url

(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format

(&#39;woff&#39;), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-

Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format(&#39;woff2&#39;), url

(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5bbKic1PW3nceB3q24YFOMg.ttf) format

(&#39;truetype&#39;);
}
.material-icons {font-family: &#39;Material Icons&#39;;font-weight:normal;font-style:normal;font-size:inherit;display 

:inline-block;line-height:1;text-transform:none;word-wrap:normal;white-space:nowrap;direction:ltr;vertical-align:middle;
/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;
/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;
/* Support for IE. */
font-feature-settings: &#39;liga&#39;;
}

/* FontAwesome */
@font-face{font-family:FontAwesome;src:url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-

webfont.eot?v=4.7.0);src:url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?

#iefixamp;v=4.7.0)format(&#39;embedded-opentype&#39;),url(//maxcdn.bootstrapcdn.com/font-

awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0)format(&#39;woff2&#39;),url

(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0)format

(&#39;woff&#39;),url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0)

format(&#39;truetype&#39;),url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?

v=4.7.0#fontawesomeregular)format(&#39;svg&#39;);font-weight:400;font-style:normal}
.fa{display :inline-block;font:normal normal normal 15px/1 FontAwesome;font-size:inherit;text-rendering:auto;}

/* Framwork */#navbar-iframe,.quickedit{height:0;visibility:hidden;display :none}
body{background:#fff;font-family:&#39;Open Sans&#39;,sans-serif;font-size:13.6px;font-weight:400;line-

height:22px;text-decoration:none}
abbr{text-decoration:none;outline:0}
a,a:link,a:visited{color:#f50;text-decoration:none}
a:hover,a:active{color:#111;text-decoration:none}/* Header*/h2.date-header{display :none}
.header-wrapper{color:#777;min-height:60px;position :relative;z-index:999;margin:0 auto}
#header{float :right;width : auto;margin:0;padding:0}
#header-inner{margin:15px 0 0 40px;padding:0}
#header-inner a{color:#444}
#header h1,#header p{font-size:35px;text-transform:uppercase;line-height:12px;color:#444;padding:10px 

0;margin:0;font-weight:800}
#header h1 a,#header h1.title a:hover{color:#f07468;text-decoration:none}
#header .description{display :none}
#header img-amp{border:0 none;background:0;width : auto;height:auto;margin:0 auto}
#menu-sticky{padding:0;margin:0 auto;position :sticky;top:0;z-index:10}
#menu{width : 100%;color:#ddd;height:50px;padding-top:15px}
#menu ul,#menu li{margin:0 auto;padding:0;list-style:none}
#menu ul{height:50px}
#menu li{float :right;display :inline;position :relative;font-size:15px;font-weight:700;text-transform:uppercase}
#menu a{display :block;line-height:35px;padding:0 14px;text-decoration:none;color:#222}
#menu li a:hover{color:#aaa}
#menu input{display :none;margin:0;padding:0;width : 80px;height:30px;opacity:0;cursor:pointer}
#menu label{font-size:30px;display :none;width : 35px;height:36px;line-height:36px;text-align:center}
#menu label span{font-size:15px;font-weight:700;position :absolute;right:35px}
#menu ul.menus{height:auto;overflow:hidden;width : 180px;background:#fff;-webkit-box-shadow:0 1px 5px -1px rgba

(212,212,212,1);-moz-box-shadow:0 1px 5px -1px rgba(212,212,212,1);box-shadow:0 1px 5px -1px rgba

(212,212,212,1);position :absolute;z-index:99;display :none}
#menu ul.menus li{display :block;width : 100%;border-top:1px solid #eee;font-size:15px;text-transform:none;text-

shadow:none}
#menu ul.menus a{color:#444}
#menu li:hover ul.menus{display :block}
#menu a.prett{padding:0 14px 0 0}
#menu ul.menus a:hover{background-color:rgb(245,151,85);color:#fff}
button.search_icon{background:0;border:0;color:red;float :left;font-size:30px;padding:0;cursor:pointer}
button.search_icon svg{width : 32px;height:32px;vertical-align:middle}
button.search_icon svg path{fill:#666}
.resetbutton{background:0;border:0;position :absolute;top:50%;margin-top:-

17px;left:10px;padding:0;cursor:pointer;line-height:1;transition:all .4s ease-in-out;z-index:999}
.resetbutton svg{width : 34px;height:34px;vertical-align:middle}
.resetbutton svg path{fill:#999}
.resetbutton:focus{outline:0}
#search-box .search-form:not(:valid)~.resetbutton{display :none}
#search-box{width : 70%;position :absolute;top:40%;-webkit-animation-name:slideInUp;animation-name:slideInUp;-

webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-

mode:both;right:50%;margin-right:-35%}
.sos-profil .search button{background:0;border:0;color:red;font-size:30px;padding:0;cursor:pointer}
#search-box form{position :relative}
#search-box form input[type=text]{width : 100%;top:0;right:0;z-index:99;padding:10px 10px 10px 

50px;border:0;outline:0;font-size:3em;color:#000;background:rgba(158,156,156,0.3);-moz-box-sizing:border-box;-

webkit-box-sizing:border-box;box-sizing:border-box;text-align:right}
amp-lightbox{z-index:10000}
.lightbox{background:rgba(255,255,255,0.95);width : 100%;height:100%;position :absolute;display :flex;align-

items:center;justify-content:center}
.lightbox .close_search{background:0;border:0;color:#f59755;font-size:50px;position 

:absolute;top:10px;left:20px;cursor:pointer;line-height:1}
#search-box .note_search{color:#777;text-align:center;padding:10px 10px 10px 50px}
@-webkit-keyframes slideInUp{0{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}}
@keyframes slideInUp{0{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}}/* Layout*/.outerpic-wrapper{width : 

100%;padding:0;margin:0 auto;overflow:hidden}
.headerpic-wrapper{-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px 0 rgba

(0,0,0,0.1);box-shadow:0 0 10px 0 rgba(0,0,0,0.1);width : 100%;background:#fff;padding:0;margin:0 auto 20px}
.content-wrapper{position :relative;max-width : 1024px;margin:0 auto}
.outer-wrapper{position :relative;width : 100%;padding:0}
.main-wrapper{width : 690px;margin:0;float :right;word-wrap:break-word;overflow:hidden}
.clear{clear:both}
.ads7282{width : 728px;max-width : 100%;margin:20px auto;word-wrap:break-word;overflow:hidden}
.ads7281{width : 728px;max-width : 100%;margin:30px auto 10px;word-wrap:break-word;overflow:hidden}
.adsm1 .widget-content,.adsm .widget-content{margin:0 auto;padding:0}
.adsm1 .widget,.adsm .widget{margin:0 auto 20px;padding:0}/* Post*/h2{line-height:1.4em;text-

transform:none;color:#444;margin:.5em 0 .25em}
h3.date-header{text-transform:none;font:normal 13px Arial;color:#666;line-height:1.2em;margin:.1em 0}
.post{margin:0 0 30px;padding:0;border:1px solid #eee}
.post h2{font-size:160%;line-height:1.5em;color:#444;text-transform:uppercase;margin:0;padding-top:10px;font-

weight:800;text-align:right}
.post h2 a,.post h2 a:visited,.post h2 strong{display :block;text-decoration:none;color:#444}
.post h2 strong,.post h2 a:hover{color:#ccc}
.summary{font-size:15px;line-height:1.7em;color:#a0a0a0;font-weight:400;margin:15px 0 .75em}/* 

Thumbnail*/.thumbnail-area{width : 300px;height:240px;overflow:hidden;padding:0;margin:0 0 0 20px;display 

:inline;float :right;-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-ms-transition:all .5s ease-out;-o-

transition:all .5s ease-out;transition:all .5s ease-out;-webkit-filter:bleftness(0.6);filter:bleftness(0.6)}
.thumbnail-area:hover{-webkit-filter:bleftness(.9);filter:bleftness(.9)}
.thumbnailjpg{width : 100%;height:100%;margin:0;padding:0;border:0;outline:0}
.post amp-img,#header2 amp-img,.sidebar amp-img{max-width : 100%;width : auto;border:0}
.moreamp{float :left;margin:7px 10px 0 0;padding:5px 10px;background:#d2d2d2;font-size:13.6px}
.moreamp a{color:#fff;text-decoration:none}
.moreamp a:hover{text-decoration:none;color:#666}
.amp-social-share,.postage{display :none}/* Posts */.post-meta{width : 100%;display :block;text-align:right;font-

size:11px;color:#fff;padding-right:15px}
.post-meta a{text-decoration:none;font-size:10px;font-weight:600;text-transform:uppercase;color:#fff}
.post-meta a:hover{color:#aaa}
.post-meta .updated{float :left;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 

0 0 5px;padding:3px 5px 3px 10px;background-color:rgb(245,151,85)}
.post-meta .post-author{display :none}/* Popular Post*/.PopularPosts .widget-content ul{width : 100%;padding:0;list-

style-type:none}
.PopularPosts .widget-content ul li{margin:0 0 10px;padding-bottom:10px;position :relative;overflow:hidden}
.PopularPosts .widget-content ul li .item-title{line-height:1.4em;padding:6px 0 0 10px}
.PopularPosts .widget-content ul li .item-title a{text-decoration:none;font-size:15px;font-weight:700;color:#666}
.PopularPosts .widget-content ul li a:hover,.PopularPosts .widget-content ul li:hover a{color:#f95633}
.PopularPosts .widget-content ul li img{width : 130px;height:90px;padding-left:0}
.PopularPosts .item-thumbnail{float :right;margin:0 0 0 10px;width : 130px;height:90px;overflow:hidden}
.PopularPosts .item-snippet{display :none}
.PopularPosts .widget-content ul li img{-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-ms-

transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;-webkit-filter:bleftness

(.8);filter:bleftness(.8)}
.PopularPosts .widget-content ul li img:hover{-webkit-filter:bleftness(1.1);filter:bleftness(1.1)}/* CSS label */.widget-

content.cloud-label-widget-content{display :inline-block;width : 100%}
.widget-content.list-label-widget-content{padding:0}
.widget-content.cloud-label-widget-content{display :inline-block}
.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5{font-size:100%;opacity:1}
.cloud-label-widget-content{text-align:right;padding:10px}
.label-count{white-space:nowrap;display :inline-block}
.Label ul{list-style:none;margin:0;padding:0;width : 100%}
.Label li{position :relative;background:#f1f1f1;color:#444;padding:0;margin:0 0 10px 0;text-align:right;max-width : 

100%;font-size:90%;transition:all .3s ease-out;border-radius:99em;-webkit-border-radius:99em;-moz-border-

radius:99em;overflow:hidden}
.Label li a{padding:10px;display :block;position :relative;line-height:1.0;color:#444;text-decoration:none;transition:all .3s 

ease-out;font-weight:normal}
.Label li a:hover{color:#fff}
.Label li span{float :left;height:30px;line-height:30px;width : 30px;text-align:center;display :inline-

block;background:#fff;color:#666;position :absolute;top:10px;left:6px;z-index:2;border-radius:50px 50px 50px 

50px;-moz-border-radius:50px 50px 50px 50px;-webkit-border-radius:50px 50px 50px 50px}
.label-size{position :relative;display :block;float :right;margin:0 0 4px 4px;font-size:15px;transition:all .3s}
.label-size a{background:#fff;display :inline-block;color:#444;padding:5px 8px;font-weight:normal;border:1px solid 

#e3e3e3;background-repeat:repeat-y;background-size:100% 90px;background-position :0 0 -30px;transition:all .3s}
.label-count{opacity:0;visibility:hidden;font-size:85%;display :inline-block;position :absolute;top:-10px;left:-

10px;background:#e0262c;color:#fff;white-space:nowrap;padding:0;width : 22px;height:22px;line-height:22px;border-

radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;text-align:center;z-index:1;transition:all .3s}
.label-size:hover .label-count{opacity:1;visibility:visible;top:-5px}/* Tag */.postag{margin-top:20px}
.postag a{display :inline-block;margin-bottom:-16px;text-decoration:none;font-size:15px;font-weight:600;text-

transform:uppercase;cursor:pointer;color:#f59755}
.postag a:hover{background:0;color:#555}
.postag a:nth-child(2),.postag a:nth-child(3),.postag a:nth-child(4),.postag a:nth-child(5),.postag a:nth-child(6),.postag 

a:nth-child(7),.postag a:nth-child(8),.postag a:nth-child(9),.postag a:nth-child(10),.postag a:nth-child(11){display 

:none}/* NextPage */#blog-pager-newer-link a{float :right;margin-right:0;margin-bottom:20px;padding-

top:5px;color:#111;width : 40px;height:30px;transition:all .4s ease-out}
#blog-pager-older-link a{float :left;padding-top:5px;margin-bottom:20px;color:#111;width : 40px;border:1px solid 

#eee;height:30px;transition:all .4s ease-out}
.home-link{display :none}
#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{color:#aaa}
#blog-pager{text-align:center;margin-bottom:20px}/* Sidebar */.sidebar-wrapper{width : 300px;float :left;word-

wrap:break-word;margin-top:-15px;overflow:hidden}
.sidebar h2{font-size:29px;line-height:1.2em;display :inline-block;margin:0 0 5px;padding:0 22px 10px 0;position 

:relative;color:#444;font-weight:800;text-transform:uppercase}
.sidebar h2:before{content:&quot;\f1b2&quot;;width : 15px;height:15px;position :absolute;right:0;top:0;z-

index:1;display :inline-block;color:#f59755;font-family:FontAwesome;font-size:14px}
.sidebar{color:#111;line-height:1em;margin:5px 0}
.sidebar li{line-height:1.5em;margin:0 0 10px;padding:5px 0 4px}
.sidebar .widget{margin:15px 0 25px 0;padding:0}
.sidebar .widget-content{margin:0 auto;padding:0}
.sidebar a:link,.sidebar a:visited{text-decoration:none;line-height:1.5em;font-weight:400}
.sidebar li a:hover{color:#f50}
.sidebar ul{list-style:none;margin:0;padding:5px 0}/* footer */#footer{width : 100%;padding:0;-webkit-box-shadow:0 

-2px 39px -9px rgba(212,212,212,1);-moz-box-shadow:0 -2px 39px -9px rgba(212,212,212,1);box-shadow:0 -2px 

39px -9px rgba(212,212,212,1)}
#credit{font-size:11px;color:#666;overflow:hidden;clear:both;padding:30px;line-height:18px;text-align:center;text-

transform:uppercase;position :relative}
#credit a{color:#666;text-decoration:none}
#credit a:hover{color:#aaa;text-decoration:none}

/* Mobile */
@media screen and (max-width : 1024px){
#menu,#menu ul,.header-wrapper{width : 100%}
.main-wrapper{width : 66.6%}
.post h1,.post h2{padding-left:15px}
.content-wrapper{position :relative;max-width : 98%;margin:0 auto}
}
@media screen and (max-width :  800px){
.content-wrapper{position :relative;width : 100%;margin:0 auto}
#menu{width : 100%}
#search-box{width : 55%}
.headerpic-wrapper{width : 100%;margin:0 auto}
.header-wrapper{margin-left:0;width : 100%}
#header{text-align:center;width : 100%;max-width : none}
#header-inner{margin:10px}
.main-wrapper{margin-right:0;width : 100%;}
#menu{position :relative}
#menu ul{background:#fff;position :absolute;top:100%;right:0;z-index:3;height:auto;display :none;width : 100%;}
#menu ul.menus{width : 100%;position :static;padding-right:20px;border:none;}
#menu li{display :block;float :none;width : auto;border-top:1px solid #eee}
#menu input,#menu label{position :absolute;top:15px;right:0;color:#444;display :block;text-transform:uppercase}
#menu input{z-index:4}
#menu input:checked + label{color:#bbb}
#menu input:checked ~ ul{display :block}
#header2{text-align:center;width : 100%}
.sidebar-wrapper{float :none;margin:0 auto}
}
@media screen and (max-width :  760px){
.outer-wrapper{padding:0}
.main-wrapper{margin-left:0;width : 100%;min-height:0}
}
@media screen and (max-width :  480px){
#header img{width : 100%}
.header-wrapper{padding-right:0;}
.thumbnail-area{width : 100%;height:auto;margin-bottom:20px}
.summary,.postag,.post h2{padding:0 20px 0 0;}
.post-meta{display :none}
}
